/* body {
    color: var(--white);
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.codigo-erro {
    font-size: 72px;
} */